# =========================
# Core Framework
# =========================
fastapi
uvicorn[standard]

# =========================
# Environment Variables
# =========================
python-dotenv

# =========================
# Database (MongoDB)
# =========================
motor
pymongo

# =========================
# Validation / Schemas
# =========================
pydantic
pydantic-settings
email-validator

# =========================
# Authentication & Security
# =========================
python-jose[cryptography]
cryptography
itsdangerous
passlib[bcrypt]

# =========================
# OAuth (Google)
# =========================
authlib
httpx

# =========================
# Mail (OTP Emails)
# =========================
fastapi-mail

# =========================
# Redis (OTP / sessions / rate limit)
# =========================
redis

# =========================
# Object Storage (S3 / MinIO)
# =========================
boto3

# =========================
# File handling / MIME detection
# =========================
python-multipart
python-magic

# =========================
# Utilities
# =========================
python-dateutil

# RATE LIMITING
slowapi