@import "tailwindcss";

html, body, #root {
  height: 100%;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

.mask-container {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}


.border_colour{

  border: #ffffff1a
}